<h1>edit cupboard</h1>

<h2>Choose 2 neutrals</h2>
<div id="colorlist">
  <div id="clr1" class="generalcolor">

  </div>
  <div id="clr2" class="generalcolor">

  </div>
  <div id="clr3" class="generalcolor">

  </div>
  <div id="clr4" class="generalcolor">

  </div>
  <div id="clr5" class="generalcolor">

  </div>
  <div id="clr6" class="generalcolor">

  </div>
  <div id="clr7" class="generalcolor">

  </div>
  <div id="clr8" class="generalcolor">

  </div>
</div>
