<p id="placeapiresponse">
  <%= @res.total %>
</p>
<div class="tempcontainer">
  <img id="pic1" class="tempimg" src="<%= @item.mediumImage %>" alt="" />
  <img id="pic2" class="tempimg" src="http://lorempixel.com/150/150/fashion/87" alt="" />
  <img id="pic3" class="tempimg" src="http://lorempixel.com/150/150/fashion/3" alt="" />
  <img id="pic4" class="tempimg" src="http://lorempixel.com/150/150/fashion/4" alt="" />
  <img id="pic5" class="tempimg" src="http://lorempixel.com/150/150/fashion/5" alt="" />
  <img id="pic6" class="tempimg" src="http://lorempixel.com/150/150/fashion/6" alt="" />
  <img id="pic7" class="tempimg" src="http://lorempixel.com/150/150/fashion/7" alt="" />
  <img id="pic8" class="tempimg" src="http://lorempixel.com/150/150/fashion/8" alt="" />
  <img id="pic9" class="tempimg" src="http://lorempixel.com/150/150/fashion/9" alt="" />
  <img id="pic10" class="tempimg" src="http://lorempixel.com/150/150/fashion/10" alt="" />
  <img id="pic11" class="tempimg" src="http://lorempixel.com/150/150/fashion/11" alt="" />
  <img id="pic12" class="tempimg" src="http://lorempixel.com/150/150/fashion/12" alt="" />
  <img id="pic13" class="tempimg" src="http://lorempixel.com/150/150/fashion/13" alt="" />
  <img id="pic14" class="tempimg" src="http://lorempixel.com/150/150/fashion/14" alt="" />
  <img id="pic15" class="tempimg" src="http://lorempixel.com/150/150/fashion/15" alt="" />
  <img id="pic16" class="tempimg" src="http://lorempixel.com/150/150/fashion/16" alt="" />
</div>
