<div class="outer">

  <div class="nav">
    <%= link_to 'Create Account', new_user_path(@user), class: "login"  %>
    <a class="login" href="">Login</a>
  </div>

  <div class="jumbotron">
    <h1 class="titles">Welcome to Closet - Your Wardrobe Awaits </h1>

    <div class="main-button">
      <p class="button-text">Begin Your Journey</p>
    </div>

  </div>

</div>
