

<div class="first">
  <div class="jumbotron">
    <h1 class="titles">Welcome to Closet - Your Wardrobe Awaits </h1>
    <h3 class="subtitles">Closet is an app that lets you build custom wardrobes based on what you have, and shows you what you need</h3>
    <div id="main-button">
      <p>
        Click
      </p>
    </div>
  </div>
</div>
<div id="signup">

</div>
