<div class="outer">


  <div class="jumbotron">
    <h1 class="titles">Welcome to Closet - Your Wardrobe Awaits </h1>
    <h3 class="subtitles">Closet is an app that lets you build custom wardrobes based on what you have, and shows you what you need</h3>
    <div id="main-button">
      <a href="/users/new" class="button-text">Begin Your Journey</a>
    </div>
  </div>

  <div id="new-user">

  </div>

</div>
