// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button-signup {
  font-family: sans-serif;
  font-size: 15px;
  background-color: white;
  padding: 10px, 15px, 10px, 15px ;
  margin-top: 20px;
}

.button-signup:hover {
  background-color: black;
  color: white;
}

.newuser {
  margin: 0 auto;
  padding-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 400px;
  text-align: center;
}

.label {
  margin-right: 15px;

}

.welcomelistitem {

}

.welcomelistitem:hover {
  background-color: black;
   color: white;
}


.welcomelistitem {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  width: 200px;
  font-family: sans-serif;
  font-size: 25px;
  padding: 25px;
  border: 1px solid black;
}

.ineedatext1 {
  font-family: sans-serif;
  font-size: 30px;
  position: relative;
  text-align: center;
  position: relative;
  top: 100px;
  margin: 0 auto;
  padding: 25px;
  margin-bottom: 25px;
  border: 2px solid black;
  width: 450px;
}

.ineedatext1:hover {
  background-color: black;
  color: white;
}

.ineedatext2 {
  font-family: sans-serif;
  font-size: 30px;
  position: relative;
  text-align: center;
  position: relative;
  top: 100px;
  margin: 0 auto;
  padding: 25px;
  margin-bottom: 25px;
  border: 2px solid black;
  width: 450px;
}

.ineedatext2:hover {
  background-color: black;
  color: white;
}

.listform {
  margin: 0 auto;
  margin-top: 140px;
  width: 450px;
}
