// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.jumbotron {
  width: 100%;
  height: 400px;
  background-color: lightblue;
  background-size: cover;
}

.titles {
  font-family: sans-serif;
  font-weight: 100;
  position: relative;
  text-align: center;
  top: 50px;
  color: white;
}

.subtitles {
  font-weight: 100;
  font-family: sans-serif;
  position: relative;
  top: 20%;
  text-align: center;
  color: white;
}

.login {
  font-family: sans-serif;
  font-weight: 200;
  text-decoration: none;
  position:relative;
  left: 80%;
  top: 10px;
  margin-left: 15px;
}

#main-button {
  margin-left: 43%;
  margin-right: 43%;
  height: 50px;
  margin-top: 150px;
  border: 2px solid black;
  text-align: center;
  border-radius: 20px;
  background-color: white;
  font-family: sans-serif;
  font-weight: 100;
}

#main-button:hover {
  background-color: black;
  color: white;
}

.button-text {
  vertical-align: middle;
  line-height: 40px;
  text-decoration: none;
}

#new-user {
  height: 300px;
}

.nav {

}
